appdirs==1.4.4
cfgv==3.2.0
click==7.1.2
coverage==5.5
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-HTTPAuth==4.2.0
identify==2.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
nodeenv==1.5.0
pre-commit==2.11.1
PyYAML==5.4.1
six==1.15.0
toml==0.10.2
virtualenv==20.4.3
Werkzeug==1.0.1
