mysql_server_administrator_login = # Choose a username for an admin in the to-be-provisioned MySQL server. (Must be in double quotes.)
mysql_server_administrator_password = # Choose a password for an admin in the to-be-provisioned MySQL server. (Must be in double quotes.)

name_4_mysql_server_database = # Choose a name for a to-be-created database in the to-be-provisioned MySQL server. (Must be in double quotes.)
