{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>{{legend}}</legend>
                <div>
                    {{ form.source_language.label() }}

                    {{ form.source_language() }}

                    {% if form.source_language.errors %}
                        {% for error in form.source_language.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {{ form.new_word.label() }}

                    {{ form.new_word() }}

                    {% if form.new_word.errors %}
                        {% for error in form.new_word.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {{ form.content.label() }}

                    {{ form.content() }}

                    {% if form.content.errors %}
                        {% for error in form.content.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {{ form.content_translation.label() }}

                    {{ form.content_translation() }}

                    {% if form.content_translation.errors: %}
                        {% for error in form.content_translation.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {{ form.submit() }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content%}